<div class="container">
  
  <div class="events">


    <%if session[:id] %>
      <a href="/event/new"> <b> create new event</b></a>
      <ul>

        <% @events.each do |event| %>
          <li> <%= event.name %> <%= event.location %> <%= event.starts_at %> <%= event.ends_at %>     
            
            <% if @user && event.user_id == @user.id %>
              <a href="/event/<%= event.id %>/edit"> edit </a>
            <% end %>
            
            <a href="/users/<%=event.creator.id%>"><%= event.creator.first_name %></a> 
            <span> <%= event.created_at.to_s(:db) %></span>
            
            <% if @user && event.user_id == @user.id %>
              <a href="/event/<%= event.id %>/delete"> delete </a>
            <% end %>
          
          </li>
        <% end %>
      </ul>
    <% else %>
      <p> log in to see your created events!<p>
    <% end %>
  </div>
  
</div>
